body {
  text-align: center;
}

button {
  cursor: pointer;
}

#crocImg {
  height: 135px;
}

.flip {
  transform: scaleX(-1);
}

#inputField {
  width: 25px;
  text-align: center;
}
